extends modal.pug

include utils.pug

append head
  script(src="/javascripts/taskButtons.js" type="module")
  link(rel="stylesheet" href="/stylesheets/editform.css")

block template
  div.container
    h2(id='edit-task-description')
    p Woud you like to edit your Task?
      +validationErrorSummary(errors)
      div(id='task-errors' style='color: red')
      form(id='edit-task-form' method="put")
        input(type='hidden' name="_csrf" class='csrf-token')
        label(for=description) Description
        input(name='description' type="text" class='task-description')
        label(for=timeframe) Timeframe
        input(name='timeframe' type="date" class='task-timeframe')
        label(for=cost) Cost
        input(name='cost' type="number" min="0" class='task-cost')
        label(for=image) Image
        input(name='image' type="text" class='task-image')
        label(for=completed) Completed?
        select(name='completed' class='task-completed')
          option(id='no') No
          option(id='yes') Yes

        //- label(for=category) Category
        //- input(type=text id=`task-category-${"task.id"}` category=category placeholder=task.category)
        div(class='form-submit')
        button(type='submit' class='tasksubmit-btn') Save
        a(href='/lists' class='cancel-btn') Cancel
        //- button(type='submit' id='test-button') TEST
