extends homepage.pug

include utils.pug

block content
  script(src="/javascripts/listButtons.js" type="module")
  each list in lists
    ul#edit-bullet
  .container
    li(id=`${list.id}-name`)= `List: ${list.name}`
    p Woud you like to edit your #{list.name} list?
      +validationErrorSummary(errors)
      div(id='list-errors')
      form(id=`edit-list-${list.id}`)
        input(type='hidden' name="_csrf" value=csrfToken)
        label(for=name) List name
        input(type=text id=`list-name-${list.id}` name=name placeholder=list.name)
        div(class='form-submit')
        button(type='button' class='submit-btn' id=`edit-submit-${list.id}`) Save
        a(href='/lists' class='cancel-btn') Cancel
        //- button(type='button' id='test-button') TEST
