extends modal.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/editform.css")
  link(rel="stylesheet" href="/stylesheets/form.css")
  script(src="/javascripts/editTask.js" type="module")
  script(src="/javascripts/listButtons.js" type="module")

block template
  div.container-edit-form
    h2(id='edit-task-description')
    p Woud you like to edit your Task?
      +validationErrorSummary(errors)
      div(id='task-errors' style='color: red')
      form(id='edit-task-form')
        input(type='hidden' name="_csrf" class='csrf-token')
        input(type='hidden' class='task-id')
        label(for=description) Description
        input(name='description' type="text" class='task-description')
        label(for=timeframe) Timeframe
        input(name='timeframe' type="date" class='task-timeframe')
        label(for=cost) Cost
        input(name='cost' type="number" min="0" class='task-cost')
        label(for=image) Image
        input(name='image' type="text" class='task-image')
        label(for=completed) Completed?
        input(type='checkbox' name='completed' class='task-completed')

        //- label(for=category) Category
        //- input(type=text id=`task-category-${"task.id"}` category=category placeholder=task.category)
        div(class='form-submit')
        button(type='submit' class='tasksubmit-btn') Save
        a(href='/lists' class='cancel-btn') Cancel
        //- button(type='submit' id='test-button') TEST
  div(class='user-prompt hide')
    input(type='hidden' class='list-id-delete')
    h1 Are you sure?
    button(class='user-prompt-yes') Yes
    button(class='user-prompt-no') No
  div(class='edit-listname hide')
    form(id=`edit-list-420`)
      +validationErrorSummary(errors)
      input(type='hidden' class='list-id-edit')
      input(type='hidden' name="_csrf" value=csrfToken)
      label(for=name) List name
      input(type=text class=`list-edit-name` name=name placeholder="New list name")
      div(class='form-submit')
      button(type='submit' class='submit-btn' id=`edit-submit`) Save
      a(href='/lists' class='cancel-btn') Cancel
  div(class='task-delete-modal hide')
    input(type='hidden' class='task-id-delete')
    h1 Are you sure?
    button(class='delete-task-yes') Yes
    button(class='delete-task-no') No
