doctype html
html
    head
        block head
            title= title
            link(rel='stylesheet' href='/stylesheets/reset.css')
            link(rel='stylesheet' href='/stylesheets/homepage.css')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Days+One&display=swap')

        body
        nav.navbar
            div(id="Welcome")
            a(href="/")
                img(class="logo" src="https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png")

            //- button(id=index class="list-btn") List
            a(href="/users/list") List

            a(href=`/users/${user.id}` class="userImage")
                img(id="image" src=user.image style="width:100px; height:100px; border-radius:50%")

            button(id=index class="logout-btn") Log Out
