doctype html
html
    head
        block head
            title= title
            link(rel='stylesheet' href='/stylesheets/reset.css')
            link(rel='stylesheet' href='/stylesheets/homepage.css')
            link(rel='stylesheet' href='/stylesheets/form.css')
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
            link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Days+One&display=swap')
            link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Days+One&family=Sacramento&family=Square+Peg&display=swap")
            link(rel='icon' type='image/png' href='https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png')
            link(rel='icon' type='image/png' href='https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png')
            script(src="/javascripts/search.js" type="module")




        body
        nav.navbar
            div(id="homepage")
                div.logo-and-text
                    a(href="/home")
                        img(class="logo" src="https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png")
                    div#duckitList Duckit List

                form(action="/search" method="get").searchbar
                    input(name="search" type="text" placeholder=`Got any Grapes?`)
                    //- img(src="https://user-images.githubusercontent.com/92604480/163699243-50c3f23b-04e2-4b9f-adc3-74a3119e74ad.png")



            //- button(id=index class="list-btn") List
            div.nav-buttons
                p.welcome-message Welcome #{user.username} !
                a(href="/lists") List
                form(action='/users/logout' method='post' id="logout-btn")
                    button(type="submit" class="logout-btn") Log Out


                a(href="#" class="userImage" class=`/users/${user.id}`)
                    if user.image
                        img(id="user-image" src=user.image)
                    else
                        img(id="user-image" src="https://user-images.githubusercontent.com/96894806/163630255-82584ebb-13a3-4d89-ba58-8113d9d88acf.jpeg")
        div.main-content
block modal

block content
            div.homepage
                h2 Memories
                div.homepage-all-tasks
                    each task in tasks
                        ul.homepage-ul
                            if task.completed
                                div.homepage-task-container
                                    li= task.description
                                    if task.image && task.image !== "null"
                                        img(class="home-task-image" src=task.image)
                                    else
                                        img(class="home-task-image" src="https://user-images.githubusercontent.com/96894806/163591147-d237f313-8b27-476e-9394-3406dc02d1d4.png", alt="image")
