doctype html
html
    head
        block head
            title= title
            link(rel='stylesheet' href='/stylesheets/reset.css')
            link(rel='stylesheet' href='/stylesheets/homepage.css')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Days+One&display=swap')
            link(rel='icon' type='image/png' href='https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png')
            link(rel='icon' type='image/png' href='https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png')

        body
        nav.navbar
            div(id="homepage")
            a(href="/home")
                img(class="logo" src="https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png")
            form(action="/search" method="get").searchbar
                input(name="search" type="text" placeholder="Got any Grapes?")

            p= `Welcome ${user.username} !`

            a(href=`/users/${user.id}` class="userImage")
                img(id="image" src=user.image style="width:100px; height:100px; border-radius:50%")

            //- button(id=index class="list-btn") List
            a(href="/lists") List
            form(action='/users/logout' method='post')
                button(type="submit" class="logout-btn") Log Out
block modal
block content
            div.homepage
                h2 Memories
                div.homepage-all-tasks
                    each task in tasks
                        ul.homepage-ul
                            if task.completed
                                div.homepage-task-container
                                    li= task.description
                                    if task.image && task.image !== "null"
                                        img(class="home-task-image" src=task.image)
                                    else
                                        img(class="home-task-image" src="https://user-images.githubusercontent.com/96894806/163591147-d237f313-8b27-476e-9394-3406dc02d1d4.png", alt="image")
