extends edittask.pug

include utils.pug

append head
  script(src="/javascripts/listButtons.js" type="module")
  script(src="/javascripts/taskButtons.js" type="module")
  script(src="/javascripts/viewTabs.js" type="module")
  script(src="/routes/lists.js" type="module")
  link(rel='stylesheet' href='/stylesheets/tabs.css')

block content
  div.allTabs
    div.listTab
      h1(class='list-title clicked') List
      div(class='list-sub-container')
        a(href="/lists/new" class="add-to-list-button") Create new List
        each list in lists
          div(id=`label-container-${list.id}`).container
              p(id=`${list.id}-name` class="list-names")= `${list.name}`
          div(id=`container-${list.id}`).container
            div.list-buttons
              button(type='submit' class='list-edit-btn') Edit
              button(type='submit' class='list-delete-btn') Delete
              a(href=`/lists/edit/${list.id}` class='edit-btn' id=`edit-btn-${list.id}`) Edit list name
              a(class='delete-btn' id=`delete-btn-${list.id}`) Delete List
              a(href=`/tasks/new/${list.id}`) Hatch a new goal!
              //- each task in list.Tasks
              //-   if !task.completed
              //-     div.currentIncompleteContainer
              //-       a(href=`/lists/${list.id}`)
              //-         div.inner
              //-           div(style="font-weight:bold; padding:10px;")= task.description
              //-             a(href=`/tasks/edit/${task.id}` class='task-edit-btn' id=`task-edit-btn-${task.id}`) Edit
              //-             a(class='task-delete-btn' id=`task-delete-btn-${task.id}`) Delete
      div(class='incomplete-sub-container hide')
          each list in lists
            if list.Tasks.length && list.Tasks.some((task) => !task.completed)
              h1= list.name
              each task in list.Tasks
                if !task.completed
                  div.currentIncompleteContainer
                    div(id=`task-container-${task.id}`)
                      div.inner
                        div(style="font-weight:bold; padding:10px;")= task.description
                          button(type='button' class='task-edit-btn' id=`task-edit-btn-id:${task.id}`) Edit
                          //- a(href=`/tasks/edit/${task.id}` class='task-edit-btn' id=`task-edit-btn-${task.id}`) Edit
                          a(class='task-delete-btn' id=`task-delete-btn-${task.id}`) Delete
      div(class='completed-sub-container hide')
        each list in lists
          each task in list.Tasks
            if task.completed
              div.currentCompleteContainer
                div(id=`task-container-${task.id}`)
                  a(href=`/lists/${list.id}`)
                    div.inner
                      div(style="font-weight:bold; padding:10px;")= task.description
                        a(href=`/tasks/edit/${task.id}` class='task-edit-btn' id=`task-edit-btn-${task.id}`) Edit
                        a(class='task-delete-btn' id=`task-delete-btn-${task.id}`) Delete


    div.incompleteTab
      h1(class='incomplete-title') Incomplete

    div.completeTab
      h1(class='completed-title') Complete

                      //- if task.image && task.image !== "null"
                      //-  img(class="complete-task-list-image" src=task.image)



  //- div.tables
  //- div(id="allTasksId").currentList All Tasks
  //- div(id="incompleteTasksId").incomplete Incomplete
  //- div(id="completeTasksId").complete Complete

  //- div(class="allLists" class="hidden").listsTable
        //-   each task in list.Tasks
        //-     div.currentListContainer
        //-       a(href=`/lists/${list.id}`)
        //-         div.inner
        //-           div(style="font-weight:bold; padding:10px;")= task.description
        //-               input(type='checkbox')
        //-               a(href=`/tasks/edit/${task.id}` class='task-edit-btn' id=`task-edit-btn-${task.id}`) Edit
        //-               button(class='task-delete-btn' id=`task-delete-btn-${task.id}`) Delete
